# Compiled files
*.class

# Simulation report files
*reports*/*.txt

# Javadocs
*.html
doc/stylesheet.css
doc/resources/*.gif
doc/package-list
doc/*.zip
doc/*.js
doc/*.html
doc/*

# Eclipse IDE files
.classpath
.project
/target/
.settings/org.eclipse.*


# Mac based config files
.DS_store